@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './variables';

body{
    font-family: Arial, Helvetica, sans-serif;
}

.ms-container{
    width: 1100px;
    margin: 0 auto;
}

a{
    text-decoration: none;

}

li{
    list-style-type: none;
}

.main-color {
    color: $brandColorTextPrimary;
}

h6{
    color: $brandColorTextPrimary;
}

.my-btn-fs{
    font-size: .9rem;
}

.text-size {
    font-size: .8rem;
}

span.in-title{
    color: $brandColorTextSecondary;
  }

.static-button{
    background-color: $brandColorTextSecondary;
    border: 1px solid $brandColorTextSecondary;
}

.hover-button{
    background-color: $brandColorTextPrimary;
    border: 1px solid $brandColorTextPrimary;
}